.calc-main {
    width: 400px;
    height: 600px;
    background-color: #fffbfb;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px 3px gray;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20PX;

    .calc-head {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        .display {
            width: 80%;
            height: 70px;
            font-size: 48px;
            padding: 20px;
            border: 1px solid rgb(213, 212, 212);
            box-shadow: 1PX 1PX 1PX gainsboro;

        }

    }

    .calc-body {
        width: 100%;
        height: 70%;


        .calc-row {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;

            .calc-btn {
                width: 40PX;

                height: 40px;

                background-color: #dbd9d9;
                border: none;
                border-radius: 20px;
                padding: 10px;
                font-size: 20px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 7px 7px 7px rgb(172, 171, 171);

               
            }

            .zero {
                width: 130PX;
            }

            .operand {
                background-color: #dc742e;
                color: white;
              

            }
            .selected{
             border: 2px solid rgb(118, 117, 117);
                color: white;
            }
            .backspace {
                background-color: rgb(157, 154, 154);
                color: white;
            }
        }

    }

}